{% extends 'index.html' %}
{% load static %}

{% block content %}
<div><b>services</b></div>
<a href="{% url 'create_topic_post' %}" class="btn btn-primary">Создать тему</a>
<ul>

<div class="row">
  {% for post in posts %}
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        {% if post.image %}
          <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">{{ post.created_at }}</small>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Нет постов</p>
  {% endfor %}
</div>

{% endblock %}